*.sln text
*.png binary
*.ico binary
*.pfx binary
*.ism binary
*.rtf binary
*.pfx binary
*.netlicproj brinary
*.cs text eol=crlf
*.xaml text eol=crlf
*.csproj text eol=crlf
*.cpp text eol=crlf
*.h text eol=crlf
*.cvxproj text eol=crlf
*.obproj text eol=crlf
*.appxmanifest text eol=crlf
*.targets text eol=crlf